body{
    background-image: url(wood.jpg);
}
#container{
    background-color: rgba(65, 146, 211, 0.84);
}
header{
    text-align: center;
    color: #fbf6ff;
    background-color: #5cbfff
}
div.sasuke{
    float: left;
}
div.menma{
    float: right;
    font-size: larger;
    height: 10px;
}
div.bob{
    height: 100px;
}
div.nynoko{
    float: right;
}
div.taro {
    float: right;
    font-size: large;
}
a{
    color: #fbf6ff;
}
li{
    display: block;
    color: #fbf6ff;
}

