body{
    background-image: url('wood.jpg');
}
header{
    text-align: center;
    background-color: #5cbfff;
    color: #fbf6ff;
}
#container{
    background-color: rgba(65, 146, 211, 0.84);
    color: #fbf6ff;
    font-size: larger;
}