body{
    background-image: url(wood.jpg);
}
header{
    color: #fbf6ff;
    background-color: #5cbfff;
}
div.naruto{
    text-align: center;
}
div.sasuke{
    float: left;
}
div.bob{
    height: 150px;
    text-align: center;
}
div.menma{
    border-style: groove;
    background-color: rgba(65, 146, 211, 0.84);
    text-align: center;
}
div.nynoko{
    height: 250px;

}
div.bob{
    height: 123px;
}
input{
     line-height: 25px;
     width: 250px;
     font-size: 23px;
 }