body{
    background-image: url(wood.jpg);
}
header{
    text-align: center;
    color: #fbf6ff;
    background-color: #5cbfff;
}
div.bob{
    height: 150px;
    text-align: center;
}
input{
    line-height: 25px;
    width: 250px;
    font-size: 23px;
}
div.naruto{
    border-style: groove;
    background-color: rgba(65, 146, 211, 0.84);
    text-align: center;
}
div.sasuke{
    height: 250px;

}
div.bob{
    height: 123px;
}