body{
    background-image: url('wood.jpg');
}
#container{
    background-color: rgba(65, 146, 211, 0.84);
    width: 1200px;
    height: 550px;
    left: 34px;
}
header{
    background-color: #5cbfff;
    color: #fbf6ff;
}
div.naruto{
    text-align: center;
}
div.sasuke{
    float: left;
}
div.menma{
    float: right;
}
div.nyoko{
    float: left;
    color: #fbf6ff;
}
